{% extends "main/layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section>

        <div class="card chef">
            <img src="{{ chef.src }}" alt="{{ chef.name }}">
            <h1>{{ chef.name }}</h1>
            {% if chef.total_recipes == 1 %}
                <p>1 receita</p>
            {% else %}
                <p>{{chef.total_recipes}}
                    receitas</p>
            {% endif %}
        </div>

        <h1>Receitas</h1>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{ recipe.id }}">
                    <a href="/recipes/{{ recipe.id }}"><img src="{{ recipe.src }}" alt="{{ recipe.title }}"></a>
                    <div>
                        <h1>{{ recipe.title }}</h1>
                        <p>por
                            {{ chef.name }}</p>
                        <a href="/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}