{% extends "admin/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="edit-section">
        <h1>Editando receita</h1>
        <form class="delete-form">
            <button>Deletar</button>
        </form>
        <form class="edit-form">
            <button>Salvar receita</button>
            <section class="fields">
                {% include 'admin/fields.njk' %}
            </section>
        </form>
    </section>
    <div id="end"></div>
    <script src="/admin.js"></script>

{% endblock %}