{% extends "admin/layout.njk" %}

{% block content %}
    <section>
        <div class="title-btn">
            <h1>Gerenciar receitas</h1>
            <span>
                <a href="/admin/recipes/create"><button>Criar receita</button></a>
            </span>
        </div>

        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{ loop.index0 }}">
                    <a href="/admin/recipes/{{ loop.index0 }}"><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
                    <div>
                        <h1>{{ recipe.title }}</h1>
                        <p>por
                            {{ recipe.author }}</p>
                        <a href="/admin/recipes/{{ loop.index0 }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}