{% extends "admin/layout.njk" %}

{% block content %}
    <div>
        <h1 class="admin">Gerenciar receitas</h1>

        <div class="cards">
            {% for item in items %}
                <div class="card" id="{{ loop.index0 }}">
                    <a href="/admin/recipes/{{ loop.index0 }}"><img src="{{ item.image }}" alt="{{ item.title }}"></a>
                    <div>
                        <h1>{{ item.title }}</h1>
                        <p>por
                            {{ item.author }}</p>
                        <a href="/admin/recipes/{{ loop.index0 }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}