{% extends "layout.njk" %}

{% block content %}
    <h1 id="most-accessed">Mais recentes</h1>

    <div class="cards">
        {% for item in items %}
            {% if loop.index0 < 6 %}
                <div class="card" id="{{ loop.index0 }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                    <h1>{{ item.title }}</h1>
                    <p>por
                        {{ item.author }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}