<div class="item">
  <h2>Nome</h2>
  <input type="text" name="name" value="{{ user.name }}" placeholder="Nome">
</div>

<div class="item">
  <h2>Email</h2>
  <input type="email" name="email" value="{{ user.email }}" placeholder="Email">
</div>

<div class="item">
  <input type="checkbox" id="is-adm-checkbox" name="is-adm-checkbox" value="true">
  <label for="is-adm-checkbox">
    Administrador</label><br>
</div>