<div class="item">
  <h2>Nome</h2>
  <input type="text" name="name" value="{{ user.name }}" placeholder="Nome">
</div>

<div class="item">
  <h2>Email</h2>
  <input type="email" name="email" value="{{ user.email }}" placeholder="Email">
</div>

<div class="item">
  <input type="checkbox" id="is_adm" name="is_adm" value="true" {% if user.is_admin == true %} checked="checked" {% endif %}>
  <label for="is_adm">
    Administrador</label><br>
</div>