{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Listagem Usuários - Foodfy</title>
{% endblock %}

{% block content %}
  <section>
    <div class="title-btn">
      <h1>Usuários</h1>
      <span>
        <a href="#">
          <button>Novo</button>
        </a>
      </span>
    </div>
  </section>
  <section class="user-list">

    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>
    <div class="user-item">
      <form method="POST">
        <h3>Paulo D'Elia</h3>
        <p>paulohdelia@gmail.com</p>
        <div>
          <span>
            <a href="#">Editar</a>
          </span>
          <button class="user-remove-button" type="submit">Remover</button>
        </div>
      </form>
    </div>

  </section>
{% endblock content %}