{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Listagem Usuários - Foodfy</title>
{% endblock %}

{% block content %}
  <section>
    <div class="title-btn">
      <h1>Usuários</h1>
      <span>
        <a href="/admin/users/register">
          <button>Novo</button>
        </a>
      </span>
    </div>
  </section>
  <section class="user-list">
    {% for user in users %}
      <div class="user-item">
        <form method="POST" action="/admin/users/?_method=DELETE">
          <h3>{{user.name}}</h3>
          <p>{{user.email}}</p>
          <div>
            <span>
              <a href="/admin/users/{{user.id}}">Editar</a>
            </span>
            <button class="user-remove-button" type="submit">Remover</button>
            <input type="hidden" name="id" value="{{user.id}}">
          </div>
        </form>
      </div>
    {% endfor %}

  </section>
{% endblock content %}