{% extends "layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="banner">

        <section>
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </section>
        <img src="{{ banner.image }}" alt="{{ banner.image_alt }}">

    </div>

    <h1 id="most-accessed">Mais recentes</h1>

    <div class="cards">
        {% for item in items %}
            {% if loop.index0 < 6 %}
                <div class="card">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                    <h1>{{ item.title }}</h1>
                    <p>por
                        {{ item.author }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <section id="modal-content">
                <img id="modal-img" src="" alt="">
                <div id="modal-info">
                    <h1 id="modal-title"></h1>
                    <p id="modal-author"></p>
                </div>
                <p id="modal-exit">Fechar</p>
            </section>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}