<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo do Foodfy" id="logo"></a>
            <a href="/about" class='{{"i-am-this-page" if (link_style == "about") else ""}}'>Sobre</a>
            <a href="/recipes" class='{{"i-am-this-page" if (link_style == "recipes") else ""}}'>Receitas</a>
        </header>

        {% block content %}

        {% endblock %}
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>