{% extends "main/layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section>

        <div class="card chef">
            <img src="{{ chef.image }}" alt="{{ chef.name }}">
            <h1>{{ chef.name }}</h1>
            {% if recipes %}
                {% if recipes.length == 1 %}
                    <p>1 receita</p>
                {% else %}
                    <p>{{recipes.length}} receitas</p>
                {% endif %}
            {% else %}
                <p>0 receitas</p>
            {% endif %}
        </div>

        <h1>Receitas</h1>
        <div class="cards">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="card" id="{{ recipe.id }}">
                        <a href="/recipes/{{ recipe.id }}"><img src="{{ recipe.src }}" alt="{{ recipe.title }}"></a>
                        <div>
                            <h1>{{ recipe.title }}</h1>
                            <p>por
                                {{ chef.name }}</p>
                            <a href="/recipes/{{ recipe.id }}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}