{% extends "main/layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="banner">

        <section>
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </section>
        <img src="{{ banner.image }}" alt="{{ banner.image_alt }}">

    </div>

    <h1 id="most-accessed">Mais recentes</h1>

    <div class="cards">
        {% for recipe in recipes %}
            {% if loop.index0 < 6 %}    
                <div class="card" id="{{ recipe.id }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <h1>{{ recipe.title }}</h1>
                    <a href="/chefs/{{recipe.chef_id}}"><p>por {{ recipe.chef }}</p></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script src="recipes.js"></script>

{% endblock %}