<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <div id="wrapper">
            <div class="body-content">
                <header>
                    <a href="/"><img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/logo.png" alt="Logo do Foodfy" id="logo"></a>
                    <a href="/about" class='{{"i-am-this-page" if (link_style == "about") else ""}}'>Sobre</a>
                    <a href="/recipes" class='{{"i-am-this-page" if (link_style == "recipes") else ""}}'>Receitas</a>
                    <a href="/chefs" class='{{"i-am-this-page" if (link_style == "chefs") else ""}}'>Chefs</a>

                </header>

                {% block content %}{% endblock %}
            </div>

            <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </footer>
        </div>
    </body>

</html>