<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <div id="wrapper">
            <div class="body-content">
                <header id="main">
                    <div>
                        <a href="/"><img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/logo.png" alt="Logo do Foodfy" id="logo"></a>
                        <a href="/about" class='{{"i-am-this-page" if (link_style == "about") else ""}}'>Sobre</a>
                        <a href="/recipes" class='{{"i-am-this-page" if (link_style == "recipes") else ""}}'>Receitas</a>
                        <a href="/chefs" class='{{"i-am-this-page" if (link_style == "chefs") else ""}}'>Chefs</a>
                    </div>
                    
                    {% if link_style != "chefs" %}
                        <form class="item" action="/recipes" method="GET">
                            <input type="text" name="filterRecipes" placeholder="Buscar receita" value="{{filter}}">
                            <button type="submit">Filtrar</button>
                        </form>
                    {% else %}
                        <form class="item" action="/chefs" method="GET">
                            <input type="text" name="filterChefs" placeholder="Buscar chef" value="{{filter}}">
                            <button type="submit">Filtrar</button>
                        </form>
                    {% endif %}
                </header>

                {% block content %}{% endblock %}
            </div>

            <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </footer>
        </div>
    </body>

</html>