{% extends "main/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{ recipe.id }}">
                <img src="{{ recipe.src }}" alt="{{ recipe.title }}">
                <h1>{{ recipe.title }}</h1>
                <a href="/chefs/{{recipe.chef_id}}"><p>por {{ recipe.chef }}</p></a>
            </div>
        {% endfor %}
    </div>

    

    <script src="/recipes.js"></script>
{% endblock %}