<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">

    </head>

    <body class="admin">
        <header>
            <a href="/admin/recipes"><img src="/assets/logo-light.png" alt="Logo do Foodfy" id="logo"></a>
            <a href="/admin/recipes">RECEITAS</a>
            <a href="/admin/chefs">CHEFS</a>
            <a href="/admin/profile">USUÁRIOS</a>
        </header>

        {% block content %}{% endblock %}

        <script src="/admin.js"></script>
        <script src="/photos.js"></script>
        <script src="/preview-gallery.js"></script>
    </body>

</html>