@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-black: #111111;
    --color-light-gray: #999999;
    --color-gray: #777777;
    --color-dark-gray: #444444;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#about h1, h2 {
    font-weight: bold;
    color: var(--color-black);
    margin-top: 40px;
    margin-bottom: 15px;
}

#about h1 {
    font-size: 24px;
}

#about h2 {
    font-size: 20px;
}

#about p {
    font-size: 18px;
    color: var(--color-dark-gray);
    line-height: 28px;
}


body {
    margin: 0 15%;
}

header {
    padding: 30px 0;
}

#logo {
    float: left;
    margin-right: 10%;
}

header a {
    font-size: 16px;
    line-height: 26px;
    margin-right: 30px;
    color: var(--color-black);
    text-decoration: none;
    transition: color 500ms;
}

header a:hover {
    font-weight: bold;
    transition: color 500ms;
}

.i-am-this-page {
    font-weight: bold;
    transition: color 500ms;
}

.banner {
    background-color: #FBDFDB;
    border-radius: 30px;
    display: grid;
    padding: 66px 60px 0 60px; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.banner section{
    padding-top: 51px;
    max-width: 80%;
}

.banner section h1 {
    font-weight: bold;
    font-size: 32px;
    color: var(--color-black);
    margin-bottom: 10px;
}

.banner section p,
.modal-overlay .modal p {
    opacity: 0.7;
    font-size: 18px;
    color: black;
    line-height: 28px;
}

.banner img {
    margin: 0 auto;
}

#most-accessed {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-black);
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card img{
    max-width: 100%;
    height: 18vh;
    border-radius: 15px;
    cursor: pointer;
}

.card h1 {
    font-size: 18px;
    color: var(--color-black);
}

.card p {
    font-size: 14px;
    color: var(--color-gray);
    margin-bottom: 10px;
}



footer {
    text-align: center;
    background: #EEEEEE;
    position: absolute;
    left: 0;
    right: 0;
    padding: 23px;
    margin-top: 10%;
}

footer p {
    font-size: 14px;
    color: var(--color-light-gray);
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    
}

.modal {
    align-self: center;
    justify-self: center;
    background-color: white;
    width: 45%;
    height: 60%;
    margin: 20vh auto;
    border-radius: 15px;
    position: relative;
}

#modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 30% 20%;
    grid-template-areas: "img" "info" "exit";
}

#modal-img {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    grid-area: img;
    align-self: end;
}

#modal-title, #modal-author, #modal-exit {
    max-width: 80%;
    margin: 0 auto;
}

#modal-info {
    grid-area: info;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
}

#modal-title {
    font-weight: none;
    margin-top: 10px;
    font-size: 24px;
    color: var(--color-black);
}

#modal-author {
    margin-top: 3px;
    font-size: 18px;
    color: var(--color-gray);
}

#modal-exit {
    font-size: 16px;
    color: var(--color-light-gray);
    cursor: pointer;
    grid-area: exit;
    align-self: end;
    margin-bottom: 10px;
}

.card.recipe {
    display: grid;
    justify-items: center;
}

.card.recipe img {
    max-width: 100%;
    max-height: 100%;
    
    width: auto;
    height: auto;

    cursor: default;
}

.card.recipe h1 {
    margin-top: 40px;
    font-size: 200%;
}
.card.recipe p  {
    font-size: 150%;
}

.recipe_content h1{
    font-size: 24px;
    color: var(--color-black);
    margin-top: 40px;
    margin-bottom: 15px;
    width: fit-content;
}

.recipe_content p, 
.recipe_content li {
    font-size: 18px;
    color: var(--color-dark-gray);
    line-height: 28px;
}

.recipe_content li {
    margin-left: 20px;
}

.recipe_content button {
    width: fit-content;
    height: 50%;
    background-color: white;
    font-size: 12px;
    color: var(--color-light-gray);

}

.recipe_content .hide_and_seek {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-template-areas: "t b";
    align-items: baseline;
}

.recipe_content .hide_and_seek h1 {
    grid-area: t;
    margin-right: 5px;
}

.recipe_content .hide_and_seek button {
    grid-area: b;
    cursor: pointer;
}

.ingredient_.hide, 
.preparation_.hide, 
.information_.hide {
    visibility: hidden;
    height: 0;
    width: 9999;
}

/* === ADMIN ===*/
.admin {
    margin: 0;
}

.admin header{
    text-align: center;
    background: #111111;
    left: 0;
    right: 0;
    padding: 24px 0 ;
    margin-bottom: 48px;
}

.admin .cards {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin h1 {
    font-size: 24px;
}

.admin header a img {
    margin-left: 15%;
}

.admin .card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-sizing: border-box;
    margin: 0;
}

.admin .card.recipe{
    grid-template-columns: none;    
}

.admin .cards h1 {
    font-size: 18px;
}

.admin .cards div {
    margin: 0;
    margin-left: 15px;
}

.admin section {
    margin: 0 15% 64px 15%;
}

.admin .card.recipe h1{
    margin-bottom: 0;
}

.admin ul {
    list-style: "-   ";
}

.admin a {
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}

.title-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
}
.title-btn span {
    justify-self: right;
}

button {
    padding: 8px 16px;
    background-color: #DC4747;
    border-radius: 4px;
    color: white;
    font-size: 16px;    
    margin-left: 10px;
    cursor: pointer;
}

.title-btn span button:last-of-type {
    background-color: #7519c1;
}

