<!DOCTYPE html>

<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <header>
            <a href="/"><img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/logo.png" alt="Logo do Foodfy" id="logo"></a>
            <a href="/about" class='{{"i-am-this-page" if (link_style == "about") else ""}}'>Sobre</a>
            
            {% if  window.location.href == "/recipes/:index" %}

                <a href="/recipes/:index" class='{{"i-am-this-page" if (link_style == "recipes") else ""}}'>Receitas</a>

            {% else %}

                <a href="/recipes" class='{{"i-am-this-page" if (link_style == "recipes") else ""}}'>Receitas</a>

            {% endif %}
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>