{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="cards">
        {% for item in items %}
            <div class="card" id="{{ loop.index0 }}">
                <img src="{{ item.image }}" alt="{{ item.title }}">
                <h1>{{ item.title }}</h1>
                <p>por
                    {{ item.author }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <section id="modal-content">
                <img id="modal-img" src="" alt="">
                <div id="modal-info">
                    <h1 id="modal-title"></h1>
                    <p id="modal-author"></p>
                </div>
                <p id="modal-exit">Fechar</p>
            </section>
        </div>
    </div>

    <script src="recipes.js"></script>
{% endblock %}