{% extends "main/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{ loop.index0 }}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <h1>{{ recipe.title }}</h1>
                <p>por
                    {{ recipe.author }}</p>
            </div>
        {% endfor %}
    </div>

    

    <script src="recipes.js"></script>
{% endblock %}