{% extends "admin/layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section>
        <form  method="POST" action="/admin/chefs">
            <div class="title-btn">
                <h1>Criando chef</h1>
                <span>
                    <button>Salvar chef</button>
                </span>
            </div>
            {% include 'admin/chef/fields.njk' %}
        </form>
    </section>
    <script src="/admin.js"></script>
{% endblock %}