{% extends "admin/layout.njk" %}

{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
    <section id="edit-section">
        <h1>Editando receita</h1>
        <form class="delete-form" method="POST" action="/admin/chefs/?_method=DELETE">
            <button>Deletar</button>
            <input type="hidden" name="id" value="{{chef.id}}">
        </form>
        <form class="edit-form" method="POST" action="/admin/chefs/?_method=PUT" enctype="multipart/form-data">
            <button>Salvar receita</button>
            <section class="fields">
                {% include 'admin/chef/fields.njk' %}
            </section>
            <input type="hidden" name="id" value="{{chef.id}}">
        </form>
    </section>
    <div id="end"></div>

{% endblock %}