<div class="item">
    <h2>Nome</h2>
    <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="item">
    <h2>Avatar</h2>
    {% if chef.src %}
        <div id="avatar-preview" class="on">
            <input type="hidden" name="removed_files">
            <div class="photo" id="{{chef.file_id}}">
                <img src="{{chef.src}}" alt="{{chef.name}}">
                <i class="material-icons" onclick="AvatarUpload.removeOldPhoto(event)">
                    close
                </i>
            </div>
        {% else%}
            <div id="avatar-preview">
            
            </div>
        {% endif %}
        </div>
        <div id="avatar-upload">
            <label for="avatar-input">Selecionar um arquivo</label>
            <input id="avatar-input" type="file" name="photos" accept="image/*" onchange="AvatarUpload.handleFileInput(event)
                ">
        </div>
        
        <input type="hidden" name="old_file_id" value={{chef.file_id}}>
    </div>