<div class="item">
    <h2>Nome</h2>
    <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="item">
    <h2>Avatar</h2>
    <input type="url" name="avatar_url" value="{{chef.avatar_url}}">
</div>