@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
  }
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: absolute;
  height: 135px;
  width: 344px;
  color: white;
  top: 12px;
  right: 18px;
  opacity: 1;
  z-index: 3;
  border-radius: 4px;


  animation: hidemessage 400ms 3s ease-out forwards;
}

.messages.error {
  background-color: #df3e3e;
}

.messages.success {
  background-color: #29e969;
}
