<div class="item">
  <h2>Nome</h2>
  <input type="text" name="name" value="{{ user.name }}">
</div>

<div class="item">
  <h2>Email</h2>
  <input type="email" name="email" value="{{ user.email }}">
</div>

<div class="item">
  <h2>Senha</h2>
  <input type="password" name="password">
</div>