{% extends "admin/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section>
        <div class="title-btn">
            <h1>Receita:
                {{ recipe.title }}
            </h1>
            <span>
                <a href="/admin/recipes/{{ recipe.id }}/edit">
                    <button>Editar receita</button>
                </a>
            </span>
        </div>

        <div class="card recipe">
            <img src="{{ recipe.files[0].src }}" alt="{{ recipe.name }}">
            <div class="preview-gallery">
                {%for file in recipe.files%}
                    <img src="{{file.src}}" alt="recipe.name" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                {% endfor %}
            </div>
            <h1>{{ recipe.title }}</h1>
            <a href="/admin/chefs/{{recipe.chef_id}}">
                <p>por
                    {{ recipe.chef_name }}</p>
            </a>
        </div>

        <div class="recipe_content">

            <h1>Ingredientes</h1>

            <ul class="ingredient_">
                {% for ingredient in recipe.ingredients %}
                    <li>
                        {{ ingredient }}
                    </li>
                {% endfor %}
            </ul>

            <h1>Modo de preparo</h1>

            <ul class="preparation_">
                {% for step in recipe.preparation %}
                    <li>
                        {{ step }}
                    </li>
                {% endfor %}
            </ul>

            <h1>Informações adicionais</h1>

            <p class="information_">
                {{ recipe.information }}
            </p>
        </div>
    </section>

{% endblock %}