{% extends "admin/layout.njk" %}

{% block content %}
    <section>
        <div class="title-btn">
            <h1>Gerenciar receitas</h1>
            <span>
                <a href="/admin/recipes/create"><button>Criar receita</button></a>
            </span>
        </div>

        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{ recipe.id }}">
                    <a href="/admin/recipes/{{ recipe.id }}"><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
                    <div>
                        <h1>{{ recipe.title }}</h1>
                        <a href="/admin/chefs/{{recipe.chef_id}}"><p>por {{ recipe.chef }}</p></a>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}