{% if error %}
  <div class="messages error">
    <!-- change all input borders to red if an error has occurred -->
    {{error}}
    <script>
      setTimeout(() => {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => input.style.border = "1px solid red")
      }, 1)
    </script>
  </div>
{% endif %}
{% if success %}
  <div class="messages success">
    {{success}}
  </div>
{% endif %}